body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(135deg, #ffffff 25%, #f7c948 25%, #f7c948 50%, #ffffff 50%, #ffffff 75%, #f7c948 75%, #f7c948 100%);
    background-size: 80px 80px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
}

.title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.form-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
    width: 390px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}
.form-container:hover {
    transform: scale(1.02);
}

.form-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 30%;
}

.image-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.form-group label {
    display: block;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    font-size: 14px;
    text-align: left;
    margin-right: 15px;
}

.form-group input[type="text"] {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    text-align: left;
}
.form-group input[type="number"] {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    text-align: left;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}



.form-group input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}
select {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    text-align: left;
}

.submit-btn {
    background-color: #f7c948;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}

.submit-btn:hover {
    background-color: #f5b92f;
    transform: translateY(-2px);
}

.submit-btn:active {
    background-color: #f2a71d;
    transform: translateY(0);
}

html, body {
    height: 100%; 
    overflow-y: auto; 
}

.error {
    color: white; 
    display: none; 
    background-color: red;
    border-radius: 10px;
    width: 75%;
    margin: 30px;
    padding: 20px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px; 
    color: black;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px; 
}

.back-button:hover {
    color: #f5a623; 
}